In [9]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python:', python_version())

Versão da Linguagem Python: 3.10.9

In [2]:
# Imports
import pandas as pd
import numpy as np
import pymc3 as pm
import warnings
warnings.filterwarnings('ignore')

In [10]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "José Guilherme Daufenbach Júnior" --iversions

Author: José Guilherme Daufenbach Júnior

pymc3 : 3.11.5
pandas: 2.0.2
numpy : 1.22.1

In [4]:
# Carregar o dataset de investimentos
dados_investimentos = pd.read_csv('dados/dados_investimentos.csv', index_col = 0, parse_dates = True)

In [5]:
dados_investimentos.shape

(365, 6)

In [6]:
dados_investimentos.head()

,Ações,Títulos Públicos,Fundos Imobiliários,Rendimento Ações,Rendimento Títulos Públicos,Rendimento Fundos Imobiliários
2022-01-01,-0.017334,-0.048899,0.510967,NaN,NaN,NaN
2022-01-02,0.435083,-0.159320,-0.189749,-26.099910,2.258122,-1.371353
2022-01-03,0.196220,-0.101227,0.159899,-0.549005,-0.364632,-1.842684
2022-01-04,0.023019,0.072812,-0.402519,-0.882688,-1.719296,-3.517339
2022-01-05,0.103289,0.136370,0.192497,3.487111,0.872901,-1.478231

In [7]:
dados = dados_investimentos[['Rendimento Fundos Imobiliários']]

In [8]:
dados.head()

            Rendimento Fundos Imobiliários
2022-01-01                             NaN
2022-01-02                       -1.371353
2022-01-03                       -1.842684
2022-01-04                       -3.517339
2022-01-05                       -1.478231

In [11]:
deslocamento = 5
dados['Rendimento Fundos Imobiliários (t-5)'] = dados['Rendimento Fundos Imobiliários'].shift(deslocamento)

In [12]:
dados.head()

,Rendimento Fundos Imobiliários,Rendimento Fundos Imobiliários (t-5)
2022-01-01,NaN,NaN
2022-01-02,-1.371353,NaN
2022-01-03,-1.842684,NaN
2022-01-04,-3.517339,NaN
2022-01-05,-1.478231,NaN

In [13]:
dados.tail()

,Rendimento Fundos Imobiliários,Rendimento Fundos Imobiliários (t-5)
2022-12-27,-0.104117,-4.930165
2022-12-28,-1.485806,-1.328787
2022-12-29,0.113994,-1.616446
2022-12-30,-2.652999,-2.591367
2022-12-31,-1.680685,-3.610346

In [19]:
dados.rename(columns={'Rendimento Fundos Imobiliários': 'Rendimentos',
                      'Rendimento Fundos Imobiliários (t-5)': 'Rendimentos(t-5)'}, inplace=True)

In [20]:
dados.head()

            Rendimentos  Rendimentos(t-5)
2022-01-01          NaN               NaN
2022-01-02    -1.371353               NaN
2022-01-03    -1.842684               NaN
2022-01-04    -3.517339               NaN
2022-01-05    -1.478231               NaN

In [21]:
dados.dropna(inplace=True)

In [22]:
dados.head()

            Rendimentos  Rendimentos(t-5)
2022-01-07    -3.025357         -1.371353
2022-01-08    -1.948727         -1.842684
2022-01-09    -0.055173         -3.517339
2022-01-10    -1.490320         -1.478231
2022-01-11    -3.540331         -0.196477

In [23]:
#Divisão treino/teste
dados_treino = dados.loc['2022-01-06':'2022-10-31']
dados_teste = dados.loc['2022-11-01':'2022-12-31']

## *Modelo de regressão bayessiana:*

In [24]:
# Inicia um novo modelo pymc3:
with pm.Model() as modelo:
    
    #priors
    alpha = pm.Normal('alpha', mu = 0, sd = 1)
    beta = pm.Normal('beta', mu = 0, sd = 1)
    sigma = pm.HalfNormal('sigma', sd = 1)
    
    #likelihood
    mu = alpha + beta * dados_treino['Rendimentos(t-5)']
    likehood = pm.Normal('y', mu = mu, sd = sigma, observed = dados_treino['Rendimentos'])
    
    #Inferência
    trace = pm.sample(1000, tune = 1000)

Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (2 chains in 2 jobs)
NUTS: [sigma, beta, alpha]

Sampling 2 chains for 1_000 tune and 1_000 draw iterations (2_000 + 2_000 draws total) took 2 seconds.

In [25]:
#Criando preditor

rendimento_previsto = pm.sample_posterior_predictive(trace, 
                                                     samples = 1000, 
                                                     model = modelo,
                                                     var_names = ['alpha', 'beta', 'sigma', 'y'])['y'].mean(axis = 0)

In [27]:
rendimento_previsto

array([-1.70280495e-01,  8.95253564e-01,  6.79315474e-01,  2.25029494e-01,
        1.05896205e+00, -1.34538325e-01, -3.55845742e-01,  2.18099217e-01,
        1.93120597e-01,  8.71742002e-03, -4.04527704e-02,  4.45058023e-01,
        4.13063566e-02, -3.78801188e-01,  8.81746475e-01,  6.24086412e-01,
       -1.07182609e-01, -9.44023163e-01, -9.37154549e-01,  3.99257249e-01,
       -2.13389125e-01,  7.40601325e-01, -4.19354373e-01, -4.65998149e-01,
        1.40385577e-01,  5.64261462e-01,  3.92108822e-01,  8.34243812e-01,
        7.17994450e-01,  8.69283416e-01,  3.46379148e-01,  4.38159026e-01,
       -2.11477487e-02,  1.87382953e-01,  1.31606582e-01,  5.23998318e-02,
        2.50268275e-01,  5.57519153e-01,  5.06342937e-01,  3.42061809e-01,
       -4.35395632e-01, -9.47182300e-01, -1.74712600e-02,  2.55085110e-01,
        2.56372328e-01,  8.79586958e-01,  1.02362535e+00,  1.41100643e+00,
        5.18305213e-01, -3.04512701e-01,  5.07136398e-01,  4.85670765e-02,
        5.57186019e-01,  5.81206147e-01,  4.41506663e-01, -3.17671932e-01,
        2.51794281e-01, -1.74952072e-01,  8.03057990e-01, -5.88213504e-01,
        5.70203357e-01,  6.05364373e-02, -5.95271273e-02,  8.84379606e-01,
        4.05033277e-01,  1.00895838e+00,  3.80078450e-02, -1.13187207e-01,
       -2.60076229e-01,  3.52244974e-01,  7.46034254e-01,  7.73885528e-01,
       -1.13476004e-01,  3.34560406e-01, -1.19590533e-01, -1.37155593e-01,
        6.05121847e-02, -2.08975067e-01,  8.00082097e-02,  2.57383635e-01,
        4.14424593e-01,  6.28425048e-01,  5.97323390e-01,  1.41876449e-01,
        2.45177287e-01,  5.52670283e-01, -1.10266635e-02,  3.96936906e-03,
        1.01658129e-03,  8.09648604e-02,  9.87288599e-01,  6.62483689e-01,
       -4.32304766e-01,  2.00276923e-01,  4.56136861e-01,  2.23179322e-01,
        2.72297564e-01,  4.86329321e-01, -3.41589378e-02, -2.43235743e-01,
       -4.37446226e-02, -5.08747755e-01, -1.29978711e-01,  7.14757232e-02,
       -5.18879029e-01,  3.27828743e-01,  4.68011096e-01,  2.70661800e-01,
        4.45216739e-01,  7.63671256e-01, -2.50744491e-01,  2.90414818e-01,
        1.91335516e-03, -2.97966230e-01, -1.23890046e-01, -6.76828832e-01,
        1.24956832e-01,  3.52261808e-01, -3.42882747e-01,  2.57345843e-01,
        3.09690621e-01, -1.71186387e-01,  1.43017590e+00, -2.69156455e-01,
        6.23348278e-02,  4.50466703e-01, -1.43348397e-01,  5.50796099e-02,
       -7.13675937e-02,  7.98921455e-01,  6.37399079e-01,  2.34114940e-01,
        6.97568251e-02,  3.12207463e-01,  4.94959112e-01,  5.42731273e-01,
        4.55948929e-01,  3.05747897e-01,  4.74076387e-01,  7.09858830e-01,
       -4.82242857e-01,  5.36212370e-01, -5.52832367e-01,  2.44203300e-01,
        7.80849973e-01,  9.07380999e-02,  5.06599613e-01, -4.52548867e-01,
        8.96186579e-01,  6.20356934e-01,  6.19024077e-01,  2.40625233e-01,
       -1.89257472e-02,  6.95044344e-01, -4.83455904e-01, -8.26828680e-02,
        9.56477073e-01, -1.27838474e-01, -7.86967475e-01,  5.37756631e-01,
       -4.17218125e-01,  3.80570070e-01, -1.03974174e+00, -9.01165585e-02,
        2.00603106e-01,  6.31208513e-03,  2.97604612e-01, -8.10164204e-01,
        6.68796392e-01,  2.27020038e-01,  8.68255910e-01, -2.95475142e-01,
        8.46389850e-02,  3.72277552e-01,  7.40734297e-02,  5.44715294e-01,
        7.14777060e-02,  5.06623077e-01, -1.43792341e-01,  3.44996478e-01,
        7.77207127e-01, -8.83351792e-02,  3.74892440e-01,  1.13252031e+00,
        6.61008922e-01,  6.10965335e-01,  8.97260399e-02, -3.49742189e-02,
        7.22347428e-01, -2.68146008e-02, -4.86974716e-01,  7.56414947e-01,
        5.09551635e-01,  1.01635106e+00,  1.54104483e-01, -3.99771176e-01,
        5.23891694e-01, -5.90726514e-01, -6.68457341e-01, -7.46913201e-02,
       -5.42848992e-01,  1.24781188e+00,  6.71666837e-01,  4.75331270e-01,
        6.28733964e-01, -2.22011763e-01, -7.24577019e-01,  9.59653480e-01,
       -7.05700657e-03,  2.08847305e-02,  5.39060957e-01, -2.08367145e-01,
        1.41903204e-01,  2.45020449e-01,  5.90363251e-01,  3.18262987e-01,
        3.91647063e-01,  9.42283904e-02,  9.71461342e-01,  3.16411290e-01,
       -2.92205586e-01,  4.63887138e-01, -7.73364657e-02, -9.94534760e-02,
       -1.28251394e-01,  5.46146917e-01, -7.15508154e-01,  6.61803117e-01,
        8.82529120e-01,  3.29395786e-01, -5.26477850e-01,  9.29200379e-01,
       -4.21784015e-01,  5.72146979e-01, -6.88566689e-01,  3.92060527e-01,
        7.65859092e-01, -8.25779849e-02, -8.79200903e-01, -3.45076487e-01,
        9.22485063e-02,  5.46387861e-01,  5.29750325e-01,  6.09374003e-02,
        5.81106862e-01,  1.14205704e+00,  6.34724550e-01,  1.30620434e+00,
        4.07369551e-02,  4.35916576e-01, -4.04910860e-01,  6.36773898e-01,
       -5.98041660e-01,  5.33625162e-01,  1.77407532e-01,  1.49895988e-01,
       -4.74758839e-02,  7.75010972e-01, -7.27973717e-01, -1.06810973e-01,
        6.92286305e-01, -1.25103497e-01,  2.28783486e-01, -2.87166600e-01,
       -3.64730420e-01,  2.12531933e-01,  5.83797381e-01,  2.06168931e-01,
       -1.96767904e-01, -2.33031442e-02,  1.77988419e-01,  5.40361772e-01,
        6.76430138e-02,  4.42147258e-01,  8.68146982e-01, -3.85661407e-01,
        7.02197918e-02,  6.15702214e-02,  1.17997980e-01,  1.79342740e-01,
        7.67492531e-01, -1.32480266e-01, -2.40871095e-01,  6.61680427e-01,
       -3.50103538e-01, -1.89673088e-01,  1.09254479e+00,  7.01954874e-01,
        6.52171096e-01,  2.25261355e-01,  2.52573661e-02,  9.67284018e-02,
        1.25793694e-01,  5.99069548e-01, -1.96911314e-01,  4.66528439e-02,
       -1.39748434e-01, -2.22779609e-01])

In [29]:
n_dados = pd.read_csv('dados/novos_dados.csv', index_col = 0, parse_dates = True)

In [30]:
n_dados_preditor = n_dados['Rendimento Fundos Imobiliários'].shift(5)

In [31]:
n_dados_preditor = n_dados_preditor.dropna()

In [32]:
with modelo:
    alpha = trace['alpha'].mean()
    beta = trace['beta'].mean()
    
    previsoes = alpha + beta * n_dados_preditor

In [34]:
print(previsoes)

2023-01-07    0.243854
2023-01-08    0.246773
2023-01-09    0.249451
2023-01-10    0.370407
2023-01-11    0.244021
                ...
2023-12-27    0.238750
2023-12-28    0.239093
2023-12-29    0.249185
2023-12-30    0.304548
2023-12-31    0.243404
Name: Rendimento Fundos Imobiliários, Length: 359, dtype: float64